    *{
        padding: 0;
        margin: 0;
    }

    :root{
        --primary-color:black;
        --first-color:orange;
        --second-color:gray;
        --third-color:white;
        
    }

    .main{
        width: 100%;
        border: 1px solid var(--primary-color);
    }

    .container{
        width: 100%;
       
    }

    .nav{
        max-width: 1900px;
        min-width: 150px;
       
        margin: 10px;
        display: flex;


    }

    .nav1{
        width: 1500px;
        
        margin: 5px;
        padding: 10px;
        text-align: center;
    }

    .nav2{
        width: 400px;
        margin: 5px;
        padding: 10px;
        
        text-align: left;
        font-size: 25px;
    }
    .nav2>a{
        text-decoration: none;
        color:var(--primary-color);
    }

    .home{
        width: 100%;
       
        display: flex;
        flex-wrap: wrap;
    }

    .home1{
        max-width: 1900px;
        min-width: 150px;
       
        margin: 10px;
        display: flex;
       
    }

    .home2{
        width: 1850px;
        
        margin: 5px;
        padding: 10px;
        text-align: center;
        font-size: 25px;
        color:var(--primary-color);
    }

    .home2>a{
        text-decoration: none;
        margin-left: 25px;
        color:var(--primary-color);
    }

    .images{
        width: 100%;
       
    }

    .image{
        max-width: 1900px;
        min-width: 150px;
       
        margin: 10px;

    }

    .img-scroll{
        max-width: 1880px;
        height: 600px;
        position: relative;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    .img-scrolled{
        display: flex;
        width: 7520px;
        height: 600px;

    }

    .img-scrolled>img{
        width: 1880px;
        height: 600px;
        position: relative;
    }

    .img1{
       /* top: 10%;
       left: 2%;
       position: absolute; */
        /* background-image: url(images/img1.jpg); */
        /* background-position: center;
        position: relative; */
        top: 10%;
        left: 30%;
        transform: translateX(-50%);
        max-width: 70%;
        min-width: 400px;
        position: absolute;
        
    }

    

    .img1>h2{
        color:var(--third-color);
        font-size: 40px;
        margin-left: 400px;
        margin-top: 110px;

    }

    .img1>p{
        font-size: 25px;
        color:var(--third-color);
        margin-left: 400px;
    }

    .img1>button{
      padding: 20px;  
      background-color:var(--third-color);
      color: rgb(246, 174, 7);
      font-size: 20px;
      border-radius: 30px;
      border: 1px solid var(--third-color);
      margin-left: 400px;
    }

    .bookmark{
        position: relative;
        bottom: 50px;
        left: 50%;
        z-index: 10;
        padding: 3px;
        width: 100px;
    }

    .bookmark>ul>li>a{
        text-decoration: none;
        color: var(--third-color);
    }
    .bookmark ul {
        display: flex;
        position: relative;
    }
    .bookmark li {
        list-style: none;
        color: var(--third-color);
        padding: 2px;
    }

    .information{
        width: 100%;
       
    }

    .information>p{
        margin-left: 200px;
        color: var(--second-color);
    }

    .info{
        max-width: 1900px;
        min-width: 150px;
        
        margin: 10px;
        display: flex;
        justify-content: space-evenly;

    }

    .info1{
        width: 220px;
       
        margin: 5px;
        padding: 10px;
    }
    .info1>h3>i{
        background-color:var(--first-color);
        color: var(--third-color);
        border-radius: 50%;
        border: 1px solid var(--first-color);
        padding: 9px;
    }

    .options{
        width: 100%;
        
    }

    .photo{
        max-width: 1900px;
        min-width: 150px;
        margin-top: 20px;
        margin: 10px;
        
    }

    .infop1{
        max-width: 1850px;
        min-width: 150px;
        
        margin: 30px;
        text-align: center;
        line-height: 20px;
    }

    .infop1>h2{
        font-size: 30px;
        color: rgb(61, 57, 57);
    }

    .photo1{
        max-width: 1900px;
        min-width: 150px;
        
        margin: 2px;
        display: flex;
        justify-content: space-evenly;
    }

    .p1{
        width: 400px;
        height: 600px;
        
        margin: 5px;
        text-align: center;
        line-height: 15px;
        
    }

    .p1>img{
        padding: 10px;
        margin: 10px;
        width: 360px;
        height:400px ;
       padding: 10px;
    }

    .p1>button{
        padding: 15px;  
        background-color:transparent;
        color: rgb(246, 174, 7);
        font-size: 20px;
        border-radius: 30px;
        border: 1px solid rgb(246, 193, 3);
      }

      .allproducts{
        width: 100%;
       
      }

      .allproducts>h2{
        font-size: 30px;
        text-align: center;
        color: rgb(46, 43, 43);
      }

      .product{
        max-width: 1200px;
        min-width: 150px;
       margin-top: 20px;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
       

      }

      .pro1{
        width: 250px;
        margin: 20px;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        position: relative;
      }
      


      .overlay{
        top: 0;
        left: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .overlay>button{
        display: none;
        background-color:var(--third-color);
        color: rgb(59, 33, 96);
        border-radius: 20px;
        padding: 10px;
        font-size: 20px;
        align-items: center;
    }
    .overlay:hover button{
        display: block;
    }

    .overlay>.add{
        display: none;
        background-color: var(--first-color);
        color:white;
        border-radius: 20px;
        padding: 10px;
        font-size: 20px;
        align-items: center;
        
    }

    .overlay:hover .add{
        display: block;
    }

    .overlay>p{
        display: none;
        color:var(--third-color);
        padding: 10px;
        font-size: 20px;
        align-items: center;
    }

    .overlay:hover p{
        display: block;
    }


      .overlay:hover{
        background: rgb(54, 68, 83, 0.95);
        background-blend-mode: overlay;
        
      }

      .pro1>img{
        
        width: 200px;
        height: 150px;
        margin: 15px;
      }

      

      .pro1>p{
        line-height: 40px;
        font-size: 20px;
        color: rgb(66, 62, 62);
      }

      .pro1>h5{
        line-height: 40px;
        font-size:25px ;
        color: rgb(59, 56, 56);
      }

      .pro1>a{
        text-decoration: none;
      }


      .pro1>a>img{
        
        width: 200px;
        height: 150px;
        margin: 15px;
      }

      

      .pro1>a>p{
        line-height: 40px;
        font-size: 20px;
        color: rgb(66, 62, 62);
      }

      .pro1>a>h5{
        line-height: 40px;
        font-size:25px ;
        color: rgb(59, 56, 56);
      }

      .product1{
        max-width: 1200px;
        min-width: 150px;
       
        margin: auto;
        display: flex;
        justify-content: space-evenly;
       

      }

      .pro2{
        width: 250px;
        height: 300px;
        margin: 20px;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        position: relative;
      }

      .pro2>img{
        width: 200px;
        height: 150px;
        margin: 15px;
      }

      /* .pro2:hover{
        background-color: rgba(27, 38, 60, 0.722);
        z-index: 10;
      } */

      .pro2>p{
        line-height: 30px;
        font-size: 20px;
        color: rgb(66, 62, 62);
      }

      .pro2>h5{
        line-height: 30px;
        font-size:25px ;
        color: rgb(59, 56, 56);
      }

      .person{
        width: 100%;
       
        background-color: rgba(216, 214, 214, 0.58);
      }

      .personimg{
        max-width: 1900px;
        min-width: 150px;
        margin-top: 20px;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
       
    }

    .perimg{
        width: 400px;
        height: 500px;
        margin: 10px;
        
    }

    .perimg>img{
        width: 400px;
        height:500px ;
    }

    .perinfo{
        width: 650px;
        height: 500px;
        margin-top: 20px;
        text-align: center;
       
    }

    .perinfo>h4{
        padding-top: 90px;
        margin: 20px;
        font-size: 30px;
        line-height: 50px;
        color: rgb(61, 55, 55);
     }

     .perinfo>p{
        margin: 20px;
        font-size: 18px; 
        line-height: 18px;
        color: rgb(61, 55, 55);
     }

     .perinfo>button{
        background-color: var(--first-color);
        border: 1px solid var(--first-color);
        color: var(--third-color);
        padding: 10px 20px;
        margin: 20px;
       
     }

     .bestseller{
        width: 100%;
     }

     .bestseller>h2{
        text-align: center;
        color: rgb(71, 60, 60);
        font-size: 30px;
     }

     .aboutus{
        width: 1880px;
        background-color: gainsboro;
        padding: 20px;
     }

     .about{
        max-width: 1300px;
        min-width: 150px;
        margin: auto;
        margin-top: 20px;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        justify-content: space-evenly;
        background-color: var(--third-color);
       
    }

    .us{
        width: 400px;
        height: 400px;
        margin: 20px; 
       
        
    }

    .us>h2{
        margin-top: 130px;
        color: rgb(51, 46, 46);
        font-size: 30px;

    }
    .us>p{
        margin-top: 30px;
        line-height: 20px;
        color: rgb(52, 44, 44);
    }
    .us>button{
        margin-top: 30px;
        color: var(--first-color);
        border: 1px solid var(--first-color);
        padding: 10px 20px;
        border-radius: 20px;
        background-color: transparent;
    }
    .us>button:hover{
        background-color: var(--first-color);
        color: var(--third-color);
    }

    .us>h4{
        margin: 30px;
        font-size: 30px;
        border: 1px solid var(--second-color);
        border-radius: 100px;
        display: inline-block;
    }

    .us>h4>i{
        color: var(--first-color);
        padding: 5px;
    }

    .us>h5{
        color: rgb(49, 45, 45);
        font-size: 25px;
        margin-left: 20px;
    }

    .footer{
        width: 100%;
        background-color:#373A40;

    }

    .footer1{
        max-width: 1300px;
        min-width: 150px;
        margin: auto;
        display: flex;
        margin-top: 20px;
        justify-content: space-evenly;
        background-color: var(--third-color);
        background-color:#373A40;
       

    }
    .f1{
        margin: 10px;
        width: 300px;
        height: 300px;
      
    }

    .f1>h3{
        margin-top: 50px;
        font-size: 25px;
        color:var(--third-color);
    }

    .f1>button{
        
        font-size: 15px;
        padding: 5px;
    }

    .b1{
        background-color: rgb(57, 114, 180);
        color: var(--third-color);
    }

    .f1>p{
        margin-top: 25px;
        line-height: 10px;
        color:var(--third-color); 
    }
    
    .f1>a{
        text-decoration: none;
        margin-top: 50px;
    }
    .f1>a>i{
        color: rgb(160, 149, 149);
    }

    .f1>ul>li{
        color: var(--third-color);
      margin: 20px;
    }

    .f1>input{
        background-color: #373A40;
        color: azure;
        border: 1px solid rgb(143, 136, 136);
        padding: 5px;
    }
    .f1>.b3{
        background-color: whitesmoke;
        color: var(--first-color);
        border: 1px solid whitesmoke;
       /* padding: 20px; */
       width: 180px;
        
    }

    /* .bestseller>.pro1>a{
        text-decoration: none;
    } */